// COLORS
$color-primary: #444444;

$color-white: #fff;
$color-black: #000;

$color-blue: #21aeff;
$color-grey-dark: #2f2f2f;
$color-grey-light: #b9b9b9;
$color-grey-lighter: #D3D3D3;

// FONT
$default-font-size: 1.8rem;
$default-mobile-font-size: 1.4rem;

// GRID
$grid-width: 144rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 4rem;