*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    /* defines what 1rem is */
    font-size: 62.5%; /* =  10px; */

    @include respond( phone ) { // width < 600
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
}
body {
    box-sizing: border-box;
}